<md-toolbar color="primary">
    <span routerLink="/" routerLinkActive="active" style="cursor:pointer">GardenMap</span>
    <div class="layoutMenu">
        <button md-icon-button [md-menu-trigger-for]="menu">
   <md-icon>more_vert</md-icon>
</button>
        <md-menu x-position="before" #menu="mdMenu">
            <button md-menu-item (click)="auth.login()" *ngIf="!auth.authenticated()"> Login </button>
            <!-- <button md-menu-item routerLink="/register" routerLinkActive="active"> Register </button> -->
            <button md-menu-item (click)="auth.logout()" *ngIf="auth.authenticated()"> Sign Out </button>
            <button md-menu-item routerLink="/gardenlist" routerLinkActive="active"> Garden </button>
        </md-menu>
    </div>
</md-toolbar>
