/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 10;
  font-family: Roboto, sans-serif;
}
.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Container-Center {
  width: 50%;
}
label.title{
text-align: left;
}
.md-input {
  width: 50%;
}
.layoutMenu{
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   width: 100%;
}
